:root {
  --color-a: #034159;
  --color-b: #025951;
  --color-c: #02735e;
  --color-d: #038c3e;
  --color-e: #0cf25d;
}

body {
  background-image: radial-gradient(circle, var(--color-b) 0%, var(--color-a) 100%);
  height: 100%;
  margin: 0;
  overflow: hidden;
}

html,
body,
#root {
  height: 100%;
}

.app {
  display: flex;
  font-family: Arial, sans-serif;
  height: 100%;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.content {
  padding: 20px;
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 45vw;
  color: white;
  border: 5px solid #ff0000;
  border-color: white;
  height: 75vh;
  border-radius: 5vh;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 20px;
  flex-direction: column;
  align-content: space-between;
}

.content h1 {
  color: white;
  margin: 4px;
  height: 2em;
}

.info {
  width: 20vw;
  padding: 10px;
  margin-right: 5vw;
  height: 75vh;
  margin-left: 1vw;
  flex-direction: column;
  display: flex;
  background-color: #007f37;
  border-radius: 1vw;
  color: white;
}

.info h2 {
  background-color: var(--color-b);
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 1vw;
  display: inline-block;
}

.info p {
  margin-top: 5px;
  font-size: 15px;
  margin-bottom: 0;
}

.info ul {
  margin-top: 5px;
  margin-bottom: 0;
}

.info ul li {
  margin-top: 0;
  font-size: 15px;
  margin-bottom: 0;
  color: white;
}

.grow-button {
  margin-top: auto;
  padding: 0.5em 1em;
  font-size: 1em;
  cursor: pointer;
  display: block;
}

.recomedaciones {
  display: flex;
  align-items: center;
}

.config-button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 2.5vh;
  font-weight: 600;
  color: #ffffff;
  background-color: #007f37;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.config-button:hover {
  color: #000000;
  background-color: var(--color-e);
}

.data-table-container {
  overflow-x: auto;
  overflow-y: auto;
  height: 300px;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.data-table th,
.data-table td {
  border: 1px solid #ddd;
  padding: 6px;
  text-align: left;
  color: #000000;
  word-wrap: break-word;
  font-size: 0.75em;
  font-weight: normal;
  vertical-align: middle; /* Centra verticalmente el contenido de las celdas */
}

.data-table th {
  background-color: #007f37;
  color: #000000;
  font-size: 0.75em;
  font-weight: normal;
}

.data-table tr:nth-child(even) {
  background-color: var(--color-e);
  color:white;
}

.data-table tr:hover {
  background-color: #ddd;
}

.data-table button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  display: block;
  width: 100%; /* Hacer que el botón ocupe toda la celda */
}

.data-table button.edit-btn {
  background-color: #4CAF50; /* Color verde para editar */
}

.data-table button.delete-btn {
  background-color: #f44336; /* Color rojo para eliminar */
}

.data-table button:hover {
  opacity: 0.9;
}

.edit-form {
  background-color: var(--color-d);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  max-height: 400px; /* Limita la altura del formulario */
  overflow-y: auto; /* Permite el desplazamiento vertical si el contenido es demasiado grande */
  margin: 20px auto;
}

.edit-form h2 {
  margin-bottom: 20px;
}

.edit-form label {
  display: block;
  margin-bottom: 5px;
}

.edit-form input[type="text"],
.edit-form input[type="password"],
.edit-form input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.edit-form input[type="checkbox"] {
  margin-right: 10px;
}

.edit-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.edit-form button[type="submit"] {
  background-color: #4CAF50;
  color: white;
}

.edit-form button[type="button"] {
  background-color: #f44336;
  color: white;
}

.edit-form button:hover {
  opacity: 0.9;
}

